---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { fetchArticles } from "../lib/getArticles";

const articles = await fetchArticles();

---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">HI, MY NAME IS MILU.</div>
    <div class="py-2">
      <text class="text-lg">
        I’m a <b>software engineer</b> living in Dayton, Ohio. My expertise is in building web-based applications and data representations with TypeScript and JavaScript. In addition to my day job, I also enjoy writing technical blog posts.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/milu_franz?lang=en" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">My latest posts</div>
  </div>

  {
    articles.slice(0, 3).map((post) => (
      <>
        <HorizontalCard
          title={post.title}
          img={post.cover_image}
          desc={post.description}
          url={post.url}
          target="_blank"
          tags={post.tag_list}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
